.digit-container {
    top: 1%;
    right: 3%;
    cursor: move;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.digit {
    /* preserve its original pixelated look  */
    image-rendering: pixelated;
}

.digit-hidden {
    display: none;
}