.digit-container {
    right: 5%;
    display: flex;
    cursor: move;
    position: absolute;
}

.digit {
    /* preserve its original pixelated look  */
    image-rendering: pixelated;
    height: 150px;
}

.digit-hidden {
    height: 150px;
    display: none;
}